# Importing Necessary Libraries

In [89]:
import pandas as pd
import numpy as np

# Loading the Data

In [90]:
df = pd.read_csv(r"C:\Users\PREETHAM\Downloads\Knn Challange\diamonds.csv")

In [91]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# Label Encoding

In [92]:
# Import label encoder to convert categorical columns to Numerical columns
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder()

df['Cut']= label_encoder.fit_transform(df['cut'])
df['Color']= label_encoder.fit_transform(df['color'])
df['Clarity']= label_encoder.fit_transform(df['clarity'])

# Dropping the columns

In [93]:
df

,carat,cut,color,clarity,depth,table,price,x,y,z,Cut,Color,Clarity
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,2,1,3
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,3,1,2
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1,1,4
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,5,5
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2,0,2
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,1,0,2
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,4,0,2
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3,4,3
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,2,0,3

In [94]:
# Dropping columns after converting in to numerical Data

df = df.drop(["cut"],axis = 1)
df = df.drop(["color"],axis = 1)
df = df.drop(["clarity"],axis = 1)

In [95]:
df

       carat  depth  table  price     x     y     z  Cut  Color  Clarity
0       0.23   61.5   55.0    326  3.95  3.98  2.43    2      1        3
1       0.21   59.8   61.0    326  3.89  3.84  2.31    3      1        2
2       0.23   56.9   65.0    327  4.05  4.07  2.31    1      1        4
3       0.29   62.4   58.0    334  4.20  4.23  2.63    3      5        5
4       0.31   63.3   58.0    335  4.34  4.35  2.75    1      6        3
...      ...    ...    ...    ...   ...   ...   ...  ...    ...      ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50    2      0        2
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61    1      0        2
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56    4      0        2
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74    3      4        3
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64    2      0        3

[53940 rows x 10 columns]

# Data Preperation

In [96]:
target = df['price']
df = df.drop("price",axis=1)

In [97]:
df

       carat  depth  table     x     y     z  Cut  Color  Clarity
0       0.23   61.5   55.0  3.95  3.98  2.43    2      1        3
1       0.21   59.8   61.0  3.89  3.84  2.31    3      1        2
2       0.23   56.9   65.0  4.05  4.07  2.31    1      1        4
3       0.29   62.4   58.0  4.20  4.23  2.63    3      5        5
4       0.31   63.3   58.0  4.34  4.35  2.75    1      6        3
...      ...    ...    ...   ...   ...   ...  ...    ...      ...
53935   0.72   60.8   57.0  5.75  5.76  3.50    2      0        2
53936   0.72   63.1   55.0  5.69  5.75  3.61    1      0        2
53937   0.70   62.8   60.0  5.66  5.68  3.56    4      0        2
53938   0.86   61.0   58.0  6.15  6.12  3.74    3      4        3
53939   0.75   62.2   55.0  5.83  5.87  3.64    2      0        3

[53940 rows x 9 columns]

# Normalising the data

In [98]:
from sklearn.preprocessing import MinMaxScaler

rescale = MinMaxScaler()

num_features = ['carat', 'depth', 'table', 'x', 'y', 'z', 'Cut', 'Color', 'Clarity']

norm_train_data = rescale.fit_transform(df.loc[:,num_features])

print(norm_train_data.shape, type(norm_train_data))

(53940, 9) <class 'numpy.ndarray'>

# Train -Test Split

In [99]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(norm_train_data, target,train_size = 0.75, random_state = 0)

In [102]:
y_train = np.array(y_train)
type(y_train)

numpy.ndarray

In [107]:
type(X_train)

numpy.ndarray

# Numpy Broadcasting

In [109]:
distance = np.zeros(y_test.shape)
y_test_pred = np.zeros(y_test.shape)
k=3
for i in range(len(X_test)):
    distance = np.sqrt(((X_test[i]-X_train)**2).sum(axis = 1))
    sort_value = (np.argsort(distance))
    sort_value = sort_value[:k]
    y_test_pred[i] = y_train[sort_value].mean()
print(y_test_pred)

[4681.         6800.         5486.33333333 ... 3435.66666667 2958.
 1645.66666667]

# Evaluation

In [128]:
nb_acu = metrics.r2_score(y_test, y_test_pred)
nb_acu

0.9666750431189519

# Using sklearn

In [127]:
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

classifier = KNeighborsClassifier(n_neighbors = 3)
classifier.fit(X_train, y_train)

y_pred_sklearn = classifier.predict(X_test)
skl_acu = metrics.r2_score(y_test, y_pred_sklearn)

# Comparing the R2 scores

In [129]:
print("Acuuracy calculated using Sklearn",skl_acu)
print("Acuuracy calculated using Numpy broadcasting",nb_acu)

Acuuracy calculated using Sklearn 0.9314092498468178
Acuuracy calculated using Numpy broadcasting 0.9666750431189519