# Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\PREETHAM\Downloads\churn.csv")

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.shape

(7043, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# Observe that all these Object columns have two values - Yes and No

df.loc[:, ['Partner', 'Dependents', 'PhoneService', \
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', \
            'TechSupport', 'StreamingTV', 'StreamingMovies',\
            'PaperlessBilling', 'Churn']]

,Partner,Dependents,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Churn
0,Yes,No,No,No,Yes,No,No,No,No,Yes,No
1,No,No,Yes,Yes,No,Yes,No,No,No,No,No
2,No,No,Yes,Yes,Yes,No,No,No,No,Yes,Yes
3,No,No,No,Yes,No,Yes,Yes,No,No,No,No
4,No,No,Yes,No,No,No,No,No,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
7038,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,No
7039,Yes,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,No
7040,Yes,Yes,No,Yes,No,No,No,No,No,Yes,No
7041,Yes,No,Yes,No,No,No,No,No,No,Yes,Yes
7042,No,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,No

In [7]:
# Converting all the Yes to 1 and No to 0

var = ['Partner', 'Dependents', 'PhoneService', 
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
       'TechSupport', 'StreamingTV', 'StreamingMovies', 
       'PaperlessBilling', 'Churn']

for feature in var:
    df[feature] = df[feature].apply(lambda x : 1 if x=='Yes' else 0)
    
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [8]:
# Now again having a look at all those columns to see if everything went well

df.loc[:, ['Partner', 'Dependents', 'PhoneService', \
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', \
            'TechSupport', 'StreamingTV', 'StreamingMovies',\
            'PaperlessBilling', 'Churn']]

,Partner,Dependents,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Churn
0,1,0,0,0,1,0,0,0,0,1,0
1,0,0,1,1,0,1,0,0,0,0,0
2,0,0,1,1,1,0,0,0,0,1,1
3,0,0,0,1,0,1,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,1,1,1,1,0,1,1,1,1,1,0
7039,1,1,1,0,1,1,0,1,1,1,0
7040,1,1,0,1,0,0,0,0,0,1,0
7041,1,0,1,0,0,0,0,0,0,1,1
7042,0,0,1,1,0,1,1,1,1,1,0

In [9]:
# Checking all the Data Types

df.select_dtypes(include=['object'])

,customerID,gender,MultipleLines,InternetService,Contract,PaymentMethod,TotalCharges
0,7590-VHVEG,Female,No phone service,DSL,Month-to-month,Electronic check,29.85
1,5575-GNVDE,Male,No,DSL,One year,Mailed check,1889.5
2,3668-QPYBK,Male,No,DSL,Month-to-month,Mailed check,108.15
3,7795-CFOCW,Male,No phone service,DSL,One year,Bank transfer (automatic),1840.75
4,9237-HQITU,Female,No,Fiber optic,Month-to-month,Electronic check,151.65
...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,Yes,DSL,One year,Mailed check,1990.5
7039,2234-XADUH,Female,Yes,Fiber optic,One year,Credit card (automatic),7362.9
7040,4801-JZAZL,Female,No phone service,DSL,Month-to-month,Electronic check,346.45
7041,8361-LTMKD,Male,Yes,Fiber optic,Month-to-month,Mailed check,306.6
7042,3186-AJIEK,Male,No,Fiber optic,Two year,Bank transfer (automatic),6844.5

In [10]:
df.TotalCharges.value_counts()

20.2       11
           11
19.75       9
19.9        8
19.65       8
           ..
1022.5      1
301.4       1
52.05       1
944.65      1
1247.75     1
Name: TotalCharges, Length: 6531, dtype: int64

In [11]:
# Converting empty string in TotalCharges to NaN

df['TotalCharges'] = df['TotalCharges'].apply(lambda x : np.NaN if x==' ' else float(x))

In [12]:
# TotalCharges should be a float but it is a Object type. Lets try converting it to float64

df['TotalCharges'] = df['TotalCharges'].astype('float64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(13), object(6)
memory usage: 1.1+ MB

In [13]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [14]:
# There are 11 missing values in TotalCharges

In [15]:
# dropping the rows with null values
df = df.dropna()

In [16]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [17]:
df.shape

(7032, 21)

In [18]:
# Dropping customerID

df = df.drop('customerID', axis=1)

df.shape

(7032, 20)

In [19]:
df_cat = df.select_dtypes(include=['object'])
df_cat.shape

(7032, 5)

In [20]:
df.shape

(7032, 20)

# Outliers

In [21]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [22]:
var = ['tenure', 'MonthlyCharges', 'TotalCharges']

df[var].describe(percentiles=[.25, .5, .75, .90, .95, .99])

            tenure  MonthlyCharges  TotalCharges
count  7032.000000     7032.000000   7032.000000
mean     32.421786       64.798208   2283.300441
std      24.545260       30.085974   2266.771362
min       1.000000       18.250000     18.800000
25%       9.000000       35.587500    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.862500   3794.737500
90%      69.000000      102.645000   5976.640000
95%      72.000000      107.422500   6923.590000
99%      72.000000      114.734500   8039.883000
max      72.000000      118.750000   8684.800000

In [23]:
# There are no outliers

# OneHotEncoder

In [24]:
# Encoding the categorical features

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first', sparse=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

df_encoded = pd.DataFrame(encoder.fit_transform(df_cat), 
                      columns=encoder.get_feature_names(df_cat.columns))

df_encoded.head()

,gender_Male,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
df_encoded.shape

(7032, 10)

In [26]:
df = pd.concat([df, df_encoded], axis=1)

df.shape

(7043, 30)

In [27]:
df_cat.columns

Index(['gender', 'MultipleLines', 'InternetService', 'Contract',
       'PaymentMethod'],
      dtype='object')

In [28]:
df = df.drop(df_cat.columns, axis=1)

In [29]:
df.shape

(7043, 25)

In [30]:
df.isnull().sum()

SeniorCitizen                            11
Partner                                  11
Dependents                               11
tenure                                   11
PhoneService                             11
OnlineSecurity                           11
OnlineBackup                             11
DeviceProtection                         11
TechSupport                              11
StreamingTV                              11
StreamingMovies                          11
PaperlessBilling                         11
MonthlyCharges                           11
TotalCharges                             11
Churn                                    11
gender_Male                              11
MultipleLines_No phone service           11
MultipleLines_Yes                        11
InternetService_Fiber optic              11
InternetService_No                       11
Contract_One year                        11
Contract_Two year                        11
PaymentMethod_Credit card (automatic)    11
PaymentMethod_Electronic check           11
PaymentMethod_Mailed check               11
dtype: int64

In [31]:
df = df.dropna()

In [32]:
df.shape

(7021, 25)

In [33]:
target = df["Churn"]
df = df.drop("Churn",axis = 1)

In [34]:
df.shape

(7021, 24)

# Undersampling

In [35]:
target.value_counts()

0.0    5155
1.0    1866
Name: Churn, dtype: int64

In [36]:
from imblearn.under_sampling import RandomUnderSampler

In [37]:
rus = RandomUnderSampler(random_state=0)
X_resampled, y_resampled = rus.fit_resample(df, target)

In [38]:
X_resampled.shape

(3732, 24)

In [39]:
y_resampled.shape

(3732,)

In [40]:
X_resampled

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,gender_Male,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,1.0,1.0,68.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,57.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,21.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3728,0.0,0.0,0.0,4.0,1.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
3729,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3730,0.0,0.0,0.0,12.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3731,0.0,0.0,0.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [41]:
y_resampled

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3727    1.0
3728    1.0
3729    1.0
3730    1.0
3731    1.0
Name: Churn, Length: 3732, dtype: float64

# Standardizing the Data

In [42]:
from sklearn.preprocessing import StandardScaler

rescale = StandardScaler()

stand_train_data = rescale.fit_transform(X_resampled)

In [43]:
stand_train_data.shape

(3732, 24)

In [44]:
target.shape

(7021,)

# Test-Train split

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(stand_train_data, y_resampled,train_size = 0.80, random_state = 0)

# Training the Data

In [46]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

# Predicton

In [47]:
y_pred = classifier.predict(X_test)

# Evaluation

In [48]:
# calculate accuracy of class predictions
from sklearn import metrics
print("Accuracy score is :")
metrics.accuracy_score(y_test, y_pred)

Accuracy score is :

0.749665327978581

In [49]:
# lst  =[accuracy_score, f1_score, precision_score , recall_score, rou_auc_score]

In [50]:
print("F1 score is :")
metrics.f1_score(y_test, y_pred)

F1 score is :

0.7355021216407355

In [51]:
print("precision score is :")
metrics.precision_score(y_test, y_pred)

precision score is :

0.724233983286908

In [52]:
print("recall score is :")
metrics.recall_score(y_test, y_pred)

recall score is :

0.7471264367816092

# GridsearchCV and RandomizedSearchCV

In [53]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import classification_report

In [54]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegressionCV
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier

# KNN

In [55]:
tuned_parameters = [{'n_neighbors':[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'p':[1, 2, 3]}]
evaluation_metric = ["accuracy", "f1","roc_auc","precision","recall"]
for value in evaluation_metric:
    

    clf = GridSearchCV(
        KNeighborsClassifier(), tuned_parameters, scoring='{}'.format(value), cv = 10
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on train set:")
    print(clf.best_params_)
    print(clf.best_estimator_)
    print("For {}".format(value))
    print()
    print(clf.score(X_test, y_test))
    print()

Best parameters set found on train set:
{'n_neighbors': 9, 'p': 1}
KNeighborsClassifier(n_neighbors=9, p=1)
For accuracy

0.7215528781793842

Best parameters set found on train set:
{'n_neighbors': 9, 'p': 1}
KNeighborsClassifier(n_neighbors=9, p=1)
For f1

0.7134986225895316

Best parameters set found on train set:
{'n_neighbors': 10, 'p': 1}
KNeighborsClassifier(n_neighbors=10, p=1)
For roc_auc

0.792347247428917

Best parameters set found on train set:
{'n_neighbors': 2, 'p': 1}
KNeighborsClassifier(n_neighbors=2, p=1)
For precision

0.7209302325581395

Best parameters set found on train set:
{'n_neighbors': 9, 'p': 1}
KNeighborsClassifier(n_neighbors=9, p=1)
For recall

0.7442528735632183

# Logistic

In [56]:
import warnings
warnings.filterwarnings('ignore')

In [57]:
%%time
tuned_parameters = [{'penalty':["l1","l2","elasticnet"], 'C':[1, 10,100,1000]}]

evaluation_metric = ["accuracy", "f1","roc_auc","precision","recall"]
for value in evaluation_metric:
    

    clf = GridSearchCV(
        LogisticRegression(), tuned_parameters, scoring='{}'.format(value),cv = 10
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on train set:")
    print(clf.best_params_)
    print(clf.best_estimator_)
    print("For {}".format(value))
    print()
    print(clf.score(X_test, y_test))
    print()

Best parameters set found on train set:
{'C': 1, 'penalty': 'l2'}
LogisticRegression(C=1)
For accuracy

0.749665327978581

Best parameters set found on train set:
{'C': 1, 'penalty': 'l2'}
LogisticRegression(C=1)
For f1

0.7355021216407355

Best parameters set found on train set:
{'C': 100, 'penalty': 'l2'}
LogisticRegression(C=100)
For roc_auc

0.8296387520525451

Best parameters set found on train set:
{'C': 1, 'penalty': 'l2'}
LogisticRegression(C=1)
For precision

0.724233983286908

Best parameters set found on train set:
{'C': 100, 'penalty': 'l2'}
LogisticRegression(C=100)
For recall

0.75

Wall time: 2.85 s

# Decision Tree

In [58]:
%%time
tuned_parameters = [{'criterion':['gini','entropy'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150]}]

evaluation_metric = ["accuracy", "f1","roc_auc","precision","recall"]
for value in evaluation_metric:
    

    clf = GridSearchCV(
        DecisionTreeClassifier(), tuned_parameters, scoring='{}'.format(value),cv = 10
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on train set:")
    print(clf.best_params_)
    print(clf.best_estimator_)
    print("For {}".format(value))
    print()
    print(clf.score(X_test, y_test))
    print()

Best parameters set found on train set:
{'criterion': 'gini', 'max_depth': 4}
DecisionTreeClassifier(max_depth=4)
For accuracy

0.7255689424364123

Best parameters set found on train set:
{'criterion': 'entropy', 'max_depth': 4}
DecisionTreeClassifier(criterion='entropy', max_depth=4)
For f1

0.7108603667136814

Best parameters set found on train set:
{'criterion': 'gini', 'max_depth': 4}
DecisionTreeClassifier(max_depth=4)
For roc_auc

0.7999164578111946

Best parameters set found on train set:
{'criterion': 'gini', 'max_depth': 4}
DecisionTreeClassifier(max_depth=4)
For precision

0.6980609418282548

Best parameters set found on train set:
{'criterion': 'gini', 'max_depth': 5}
DecisionTreeClassifier(max_depth=5)
For recall

0.7701149425287356

Wall time: 21.3 s

# Random Forest

In [59]:
%%time
tuned_parameters = [{'criterion':['gini','entropy'],"n_estimators":[10, 25, 50, 75,100]}]

evaluation_metric = ["accuracy", "f1","roc_auc","precision","recall"]
for value in evaluation_metric:
    

    clf = GridSearchCV(
        RandomForestClassifier(), tuned_parameters, scoring='{}'.format(value),cv = 10
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on train set:")
    print(clf.best_params_)
    print(clf.best_estimator_)
    print("For {}".format(value))
    print()
    print(clf.score(X_test, y_test))
    print()

Best parameters set found on train set:
{'criterion': 'gini', 'n_estimators': 75}
RandomForestClassifier(n_estimators=75)
For accuracy

0.7282463186077643

Best parameters set found on train set:
{'criterion': 'entropy', 'n_estimators': 75}
RandomForestClassifier(criterion='entropy', n_estimators=75)
For f1

0.7303370786516854

Best parameters set found on train set:
{'criterion': 'entropy', 'n_estimators': 75}
RandomForestClassifier(criterion='entropy', n_estimators=75)
For roc_auc

0.8205751447584478

Best parameters set found on train set:
{'criterion': 'entropy', 'n_estimators': 10}
RandomForestClassifier(criterion='entropy', n_estimators=10)
For precision

0.7115987460815048

Best parameters set found on train set:
{'criterion': 'gini', 'n_estimators': 75}
RandomForestClassifier(n_estimators=75)
For recall

0.7155172413793104

Wall time: 1min 22s

# RandomizedSearchCV

# SVM

In [60]:
%%time
tuned_parameters = [{'kernel': ['rbf'], 'gamma': np.random.rand(3) , 'C': [1, 10, 100, 1000]},
                    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}
                    
                         ]
evaluation_metric = ["accuracy", "f1","roc_auc","precision","recall"]
for value in evaluation_metric:


    clf = RandomizedSearchCV(
        SVC(), tuned_parameters, scoring='{}'.format(value),cv= 10
    )
    clf.fit(X_train, y_train)

    print("Best parameters set found on train set:")
    print(clf.best_params_)
    print(clf.best_estimator_)
    print("For {}".format(value))
    print()

    print(clf.score(X_test, y_test))

Best parameters set found on train set:
{'kernel': 'linear', 'C': 1000}
SVC(C=1000, kernel='linear')
For accuracy

0.749665327978581
Best parameters set found on train set:
{'kernel': 'linear', 'C': 100}
SVC(C=100, kernel='linear')
For f1

0.7347517730496455
Best parameters set found on train set:
{'kernel': 'linear', 'C': 10}
SVC(C=10, kernel='linear')
For roc_auc

0.8311295480079508
Best parameters set found on train set:
{'kernel': 'linear', 'C': 1}
SVC(C=1, kernel='linear')
For precision

0.7247191011235955
Best parameters set found on train set:
{'kernel': 'rbf', 'gamma': 0.5110937045725644, 'C': 1}
SVC(C=1, gamma=0.5110937045725644)
For recall

0.8362068965517241
Wall time: 45min 40s

In [61]:
# {'kernel': ['rbf'], 'gamma': np.random.rand(3) , 'C': [1, 10, 100, 1000]},
#                     {'kernel': ['linear'], 'C': [1, 10, 100, 1000]},
#                     {'kernel': ['poly'], 'gamma': np.random.rand(3) , 'C': [1, 10, 100, 1000],'degree':[1,2,3]},
#                     {'kernel': ['sigmoid'], 'gamma': np.random.rand(3) , 'C': [1, 10, 100, 1000]}